<div class="container">

  {{cliente | json}}

  <div *ngIf="usuarioForm.invalid && usuarioForm.touched" class="alert alert-danger">
    Preencha todos os campos corretamente.
  </div>

  <form autocomplete="off" #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">
    <!--ngNoForm: negar a diretiva de formulário-->
    <div class="form-group"
    [class.has-danger]="nome.invalid && nome.touched">
      <label class="form-control-label">Nome</label>
      <input type="text" class="form-control" name="primeiroNome" 
      [(ngModel)]="cliente.nome" required minlength="10" #nome="ngModel">

      <!--Touched: {{nome.touched}}<br> tocado-->
      <!--Pristine: {{nome.pristine}}<br> intocavel-->
      <!--Dirty: {{nome.dirty}}<br>  coisa dentro-->

      <div *ngIf="nome.hasError('required') && nome.touched" class="form-control-feedback">Informe um nome</div>
      <div *ngIf="nome.hasError('minlength') && nome.touched"  class="form-control-feedback">Bote seu nome completo</div>
    </div><br>

    <div class="form-group"
    [class.has-danger]="email.invalid && email.touched">
      <label class="form-control-label">Email</label>
      <input type="text" class="form-control" name="emailAddress" [(ngModel)]="cliente.email" required email #email="ngModel">
      <div *ngIf="email.invalid && email.touched" class="form-control-feedback">Informe um email válido</div>
    </div><br>
    
    <div class="form-group"
    [class.has-danger]="profissao.invalid && profissao.touched">
      <label class="form-control-label">Profissão</label>
      <select class="form-control" name="profissao" [(ngModel)]="cliente.profissao" required #profissao="ngModel">
        <option value="">Selecione</option>
        <option *ngFor="let profissao of profissoes" [value]="profissao">{{profissao}}</option>
      </select>
      <div *ngIf="profissao.invalid && profissao.touched" class="form-control-feedback">Informe uma profissao</div><br>

    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!usuarioForm.valid">Salvar</button>
  </form>
</div>