<div class="container">
    <form>
        <div class="p-grid">
            <div class="p-col-12">
                <h1>Novo Lançamento</h1>
            </div>

            <div class="p-col-12">
                <p-selectButton [options]="tipos" #tipo></p-selectButton>
            </div><br>

            <div style="display:flex; gap:1rem;">
                <div class="p-col-6" style="width: 50%;">
                    <label style="display:block">Vencimento</label>
                    <input pInputText type="date" style="width: 100%">
                </div>
                <div class="p-col-6" style="width: 50%;">
                    <label style="display: block;">{{ tipo.value === 'RECEITA' ? 'Recebimento': 'Pagamento' }}</label>
                    <input pInputText type="date" style="width: 100%">
                </div>
            </div><br>

            <div style="display:flex; gap:1rem;">
                <div class="p-col-6" style="width: 70%;">
                    <label>Descrição</label><br>
                    <input pInputText type="text" style="width: 100%">
                </div>
                <div class="p-col-6" style="width: 30%;">
                    <label>Valor</label><br>
                    <input pInputText type="text" style="width: 100%">
                </div>
            </div><br>

            <div style="display:flex; gap:1rem;">
                <div class="p-col-6" style="width: 50%">
                    <label>Categoria</label><br>
                    <input pInputText type="text" style="width: 100%">
                </div>
                <div class="p-col-6" style="width: 50%;">
                    <label>Pessoa</label><br>
                    <input pInputText type="text" style="width: 100%">
                </div>
            </div><br>

            <div class="p-col-6">
                <label>Observação</label><br>
                <textarea pInputTextarea rows="3" style="width: 100%;"></textarea>
            </div><br>

            <div class="p-col-12" style="width: 100%;">
                <button pButton type="submit" label="Salvar" style="margin-right: 10px;"></button>
                <button pButton type="submit" label="Novo"></button>
                <a href="javascript:;">    Voltar para a pesquisa</a>
            </div>
        </div>
    </form>
</div>